<ng-container *ngIf="user; else guest"> 
  <div class="nav-user">
    <h4>Welcome {{ user.username }}</h4>  
    <button mat-icon-button type="button" (click)="onLogout()" matTooltip="Logout">
      <mat-icon>exit_to_app</mat-icon>
    </button> 
  </div>
    
</ng-container>

<ng-template #guest> 
  <div class="nav-user">
    <h4>Welcome Guest</h4>  
    <button mat-icon-button type="button" matTooltip="Login" (click)="onLogin()">
      <mat-icon>login</mat-icon>
    </button> 
  </div> 
</ng-template>