<div class="stepper">
  <ul>
    <li>
      <button routerLink="operation-plan">Operation Plan</button>
    </li>
    <li>
      <button routerLink="project-charter">Project Charter</button>
      <ul>
        <li>
          <button routerLink="project-charter/overview">Project Overview</button>
        </li>
        <li>
          <button routerLink="project-charter/team">Project Team</button>
        </li>
        <li>
          <button routerLink="project-charter/duration">Project Duration</button>
        </li>
        <li>
          <button routerLink="project-charter/milestones">Project Milestones</button>
        </li>
      </ul>
    </li>
    <li>
      <button routerLink="roles-and-responsibilities">Roles  And Responsibilities</button>
    </li>
    <li>
      <button routerLink="risk-register">risk-register</button>
      <ul>
        <li>
          <button routerLink="risk-register/step-one">Step One</button>
        </li>
        <li>
          <button routerLink="risk-register/step-two">Step Two</button>
        </li>
        <li>
          <button routerLink="risk-register/step-three">Step Three</button>
        </li>
        <li>
          <button routerLink="risk-register/step-four">Step Four</button>
        </li>
        <li>
          <button routerLink="risk-register/step-five">Step Five</button>
        </li>
        <li>
          <button routerLink="risk-register/step-six">Step Six</button>
        </li>
      </ul>
    </li>
  </ul>
</div>
<div class="content">
  <form [formGroup]="mainForm" (ngSubmit)="save()">
    <router-outlet></router-outlet>
    <button type="submit">SAVE FORM</button>
  </form>
  <!-- <div class="form-ui form-value">
    <h4>Current Form Value</h4>
    <pre [innerHTML]="mainForm.value"></pre>
    <h4>Form Validity: {{mainForm.valid}}</h4>
  </div> -->
</div>

<!--
<ng-container *ngIf="(sortOrder !== ascending) else arrowUp" >
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
  </svg>
</ng-container>
<ng-template #arrowUp>
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
  </svg>
</ng-template> -->
