.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  mat-toolbar {
    opacity: 0.3;
    margin-bottom: 20px;
    background-image: linear-gradient(to right bottom, #a8cdf7, #b4d2f8, #bed7f8, #c9ddf9, #d3e2f9, #d3e1f9, #d4e1f8, #d4e0f8, #ccdaf6, #c3d3f4, #bbcdf2, #b2c7f0);
    border-radius: 25px;
  }