
    <table class="table table-hover">
      <thead>
        <tr> 
          <th scope="col" resizable>Name</th>
          <th scope="col" resizable>Price</th>
          <th scope="col" resizable>Description</th>
          <th scope="col" class="btn-action">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products" [ngClass]="activeProductId === product.id ? 'table-active' : ''"> 
          <td class="align-middle" resizable>{{product.name}}</td>
          <td class="align-middle" resizable> 
            <app-currency [amount]="product.price"
                          [currencySign]="product.currencyType">
            </app-currency>
          </td>
          <td class="align-middle">{{product.description}}</td>
          <td class="align-middle btn-action">  
              <mat-icon  color="accent" (click)="select(product.id)">edit</mat-icon>
              <mat-icon color="warn" (click)="remove(product)" >delete</mat-icon> 
          </td>
        </tr>  
      </tbody>
    </table>