<div class="row">
  <div class="col-md-12">
      <div class="row" *ngFor="let product of products">
        <div class="col-md-10">
          <div class="row" (click)="select(product.id)">
            <div class="col-md-4">
              {{product.name}}
            </div>
            <div class="col-md-2">
              {{product.price}}
            </div>
            <div class="col-md-4">
              {{product.description}}
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <button mat-raised-button type="button" color="warn" (click)="remove(product)">remove</button>
        </div>
     
      </div>
  </div>
</div> 