<mat-sidenav-container>
  <div class="landing-page">
    <div class="row">
      <div class="col-md-11"> 
      </div>
      <div class="col-md-1">
        <mat-toolbar (click)="search.toggle()">
          <button mat-icon-button type="button" color="primary">
            <mat-icon>search</mat-icon>
          </button>
        </mat-toolbar>
      </div> 
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-auto gradient">
        <div class="row align-items-center">
          <ng-container *ngFor="let autoCompleteItem of autoCompleteSearches">
            <div class="col-md-6">
              <app-autocomplete [label]="autoCompleteItem.label" 
                [placeholder]="autoCompleteItem.placeholder"
                [filteredOptions]="autoCompleteItem.allOptions"
                (filterParams)="filterParams( $event , autoCompleteItem.key)"
                (changeParams)="changeParams( $event , autoCompleteItem.key)"></app-autocomplete>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <mat-toolbar>
    <button mat-icon-button type="button" color="primary">
      <mat-icon>search</mat-icon>
    </button>
  </mat-toolbar>
  <app-card-list [list]="cards" (onViewDetails)="viewDetails($event)">

  </app-card-list>


  <mat-sidenav #search role="search">

    <div style="display: flex;">
      <span class="nav-spacer"></span>
      <button mat-icon-button (click)="search.close()" matTooltip="Close sidenav" matTooltipClass="custom-tooltip"
        matTooltipPosition="right">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>

    </div>
    <mat-nav-list>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Search</mat-label>
          <mat-icon matPrefix>search</mat-icon>
          <input type="text" matInput #message maxlength="256" placeholder="I am searching for...">
          <mat-hint align="start"><strong>Car , Model , Producer , Year</strong> </mat-hint>
          <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
        </mat-form-field>
      </form>
      <ng-container *ngFor="let autoCompleteItem of autoCompleteSearches">
        <app-autocomplete [label]="autoCompleteItem.label" [placeholder]="autoCompleteItem.placeholder"
          [filteredOptions]="autoCompleteItem.allOptions" 
          (filterParams)="filterParams( $event , autoCompleteItem.key)"
          (changeParams)="changeParams( $event , autoCompleteItem.key)">
        </app-autocomplete>
      </ng-container>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>

</mat-sidenav-container>