
<mat-sidenav-container>
  <div class="landing-page">
    <div class="row"> 
      <div class="lp-heading">
        <h1>
         Get <br/>
         <b>NEW</b>
         <br/> 
          Pay 
         <br/> 
         <b>OLD</b> 
        </h1>
      </div>
     
      <div class="col-md-12">
        <div class="row align-items-center">
          <div class="col-md-5">
            <app-autocomplete [filteredOptions]="filteredOptions | async" (changeParams)="makeRequest($event)"></app-autocomplete>
          </div> 
          <div class="col-md-1 ml-md-auto"> 
            <button mat-icon-button (click)="search.toggle()" type="button" color="primary">
              <mat-icon>search</mat-icon> 
          </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <app-autocomplete [filteredOptions]="filteredOptions | async" (changeParams)="makeRequest($event)"></app-autocomplete>
          </div> 
        </div>
        <div class="row">
          <div class="col-md-5">
            <app-autocomplete [filteredOptions]="filteredOptions | async" (changeParams)="makeRequest($event)"></app-autocomplete>
          </div> 
        </div>
        <mat-toolbar>
            
            <span class="nav-spacer"></span> 
            <button mat-icon-button (click)="search.toggle()" type="button" color="primary">
              <mat-icon>search</mat-icon> 
          </button>
        </mat-toolbar> 
    </div>
    </div> 
  </div>
 
  <app-card-list [list]="cards">

  </app-card-list>


      <mat-sidenav #search role="search"> 
          
        <div style="display: flex;">
            <span class="nav-spacer"></span>
            <button mat-icon-button (click)="search.close()" matTooltip="Close sidenav" matTooltipClass="custom-tooltip" matTooltipPosition="right">
              <mat-icon>keyboard_arrow_left</mat-icon>
            </button> 
            
        </div> 
      <mat-nav-list> 
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Search</mat-label> 
              <mat-icon matPrefix>search</mat-icon>
              <input type="text" matInput  #message maxlength="256"  placeholder="I am searching for...">
              <mat-hint align="start"><strong>Car , Model , Producer , Year</strong> </mat-hint>
              <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
            </mat-form-field>
          </form> 
        <mat-divider></mat-divider> 
      </mat-nav-list>
    </mat-sidenav>  
   
  </mat-sidenav-container>