 <ng-container *ngIf="productDetailsLoading$ | async; else productDetailsForm">
  <mat-spinner></mat-spinner> 
 </ng-container> 

  <ng-template #productDetailsForm>
    <ng-container *ngIf="form"> 
      <form class="example-form" [formGroup]="form" name="edit-product" (ngSubmit)="submit(form)">  
            <mat-form-field >
              <mat-label>Name</mat-label>
              <input matInput placeholder="Name" formControlName="name" required>
            </mat-form-field> 
            <mat-form-field >
              <mat-label>Description</mat-label>
              <textarea matInput placeholder="Description" formControlName="description" required></textarea>
            </mat-form-field> 
              <mat-form-field >
                <mat-label>Price</mat-label>
                <input matInput placeholder="Price" type="number" formControlName="price" required>
              </mat-form-field>  
          <mat-form-field appearance="fill">
            <mat-label>Currency Type</mat-label>
            <mat-select id="currency_type" formControlName="currencyType" required> 
              <mat-option *ngFor="let option of currencyTypes" 
              [value]="option.value"
              [title]="option.display">
              {{option.display}} 
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('currencyType').hasError('required')">Please choose currency</mat-error>
            <!-- <mat-hint>$ , £ , € </mat-hint> -->
          </mat-form-field>  
    
        <div class="col-md-12">
          <button mat-raised-button type="submit" class="primary add-edit-btn"
            [disabled]="form.invalid && !form.dirty">Update</button>
          <button mat-raised-button type="button" (click)="clear()">Cancel</button>
        </div>
      </form>
    </ng-container>
  </ng-template>