

<mat-toolbar color="primary"> 
  <button (click)="searchContainer.toggle()" mat-mini-fab>
    <mat-icon>search</mat-icon>
  </button>
  
  <span   [routerLink]="'/'">{{ title }}</span>
  <span class="nav-spacer"></span> 
  <ng-container *ngFor="let link of links">
    <span [routerLink]="link.path" >
      <mat-icon>{{ link.icon }}</mat-icon>  {{ link.label }}
    </span>
  </ng-container>
    <app-user
    [user]="user$ | async"
    (logout)="onLogout($event)"
    (login)="onLogin($event)">
    </app-user> 
</mat-toolbar>


<mat-sidenav-container> 
  <mat-sidenav #searchContainer mode="side" class="app-sidenav" role="search and filter" position="start">
    Search
  </mat-sidenav>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
