

<mat-toolbar color="primary"> 
  <button (click)="menu.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  
  <span   [routerLink]="'/'">{{ title }}</span>
  <span class="nav-spacer"></span>  
    <app-user
    [user]="user$ | async"
    (logout)="onLogout($event)"
    (login)="onLogin($event)">
    </app-user> 
</mat-toolbar>


<mat-sidenav-container> 
  <mat-sidenav #menu mode="side" class="app-sidenav" role="search and filter" position="start">
    <ng-container *ngFor="let link of links">
      <a mat-stroked-button color="primary" [routerLink]="link.path" >
        {{ link.label }}
      </a>
    </ng-container>
  </mat-sidenav>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>


