:host {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .nav-link {
    color: rgba(0, 0, 0, 0.54);
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  
  mat-toolbar > .mat-mini-fab {
    margin-right: 10px;
  }

  
  .mat-sidenav-container {
    flex: 1;
    .mat-sidenav {
      a {
        width: 100%;
        height: 40px;
      }
    }
  } 
  

.mat-drawer-container {
  background-image: linear-gradient(to right bottom, #ebf3fa, #e9f1fb, #e7effb, #e6edfc, #e6ebfc, #dfe5fc, #d9dffc, #d3d9fc, #c1cffd, #adc6fd, #95bdfe, #77b5fe) !important;
}
.container-fluid {
  background-image: url('../assets/images/header-background.png');
  background-size: cover;
  border-radius: 25px;
  padding: 2rem;
  min-height: 100%;
}