
    
    <table class="table table-hover">
      <thead>
        <tr> 
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Description</th>
          <th scope="col" class="btn-action">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let element of ghostElements"> 
          <td class="align-middle"> Name </td>
          <td class="align-middle"> Price </td>
          <td class="align-middle"> Description</td>
          <td class="align-middle btn-action">  
              <mat-icon  color="accent">edit</mat-icon>
              <mat-icon color="warn">delete</mat-icon> 
          </td>
        </tr>  
      </tbody>
    </table>