<ng-container *ngIf="form">
  <form class="example-form" [formGroup]="form" (ngSubmit)="submit(form)">
    <div class="row"> 
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>  
        <mat-form-field class="example-full-width">
          <mat-label>Price</mat-label>
          <input matInput placeholder="Price" type="number" formControlName="price">
        </mat-form-field> 

        <mat-form-field class="example-full-width">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Description" formControlName="description"></textarea>
        </mat-form-field>
      </div>  
    <div class="col-md-12">
      <button mat-button type="submit" class="primary add-edit-btn"
        [disabled]="form.invalid && !form.dirty">Save</button>
      <button mat-button type="button" class="cancel-btn" (click)="clear()">Cancel</button>
    </div>
  </form>
</ng-container>