/* You can add global styles to this file, and also import other style files */
@import './assets/themes/blue.theme.scss';
@import './assets/styles/scroll-bar.scss';


html {
    height: 100%;
  }
  
body {
  margin: 0;
  height: 100%;
  display: flex;
}
   
  th {
    font-size: 16px;
    font-weight: 400;
    padding: 13px 32px;
    text-align: left;
    color: rgba(0, 0, 0, 0.54);
    background: rgba(0, 0, 0, 0.03);
  }
  
  td {
    color: rgba(0, 0, 0, 0.54);
    border: 1px solid rgba(0, 0, 0, 0.03);
    font-weight: 400;
    padding: 8px 30px;
  }
  
  .container {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
  }
  
  .container [class*="col"] {
    padding: 10px;
    flex: 1;
  }
 
   

.nav { 
    &-spacer {
        flex: 1 1 auto;
    }
}
 
