
<mat-card [ngClass]="item.class" tabindex="-1">
    <mat-card-title-group>
        <mat-card-title>{{item.titleGroup.cardTitle}}</mat-card-title>
        <mat-card-subtitle>{{item.titleGroup.cardSubtitle}}</mat-card-subtitle>
        <img mat-card-avatar mat-card-sm-image [ngClass]="item.avatarClass">
    </mat-card-title-group>
    <img mat-card-image 
        [src]="item.imgSrc.src"
        [alt]="item.imgSrc.alt">
    <mat-card-content> 
             {{item.cardContent.textContent}} 
    </mat-card-content>
    <mat-card-actions align="end"> 
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>
 